body {
  font-family: sans-serif;
  font-style: italic;
  font-size: 20px;
  background-color: gray;
  color: black;
}

h2 {
  font-size: 60px;
  color: black;
  font-weight: bold;
}

main {
  border: 40px;
  background-color: white;
  width: 600px;
  height: 600px;
  padding: 50px;
}

.btn {
  color: white;
  background-color: black;
  border: black;
}
